body {
  font-size: 24px;
  background-color: lightseagreen;
  user-select: none;
}

.collectible-list,
.zone-picker {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

.item {
  cursor: pointer;
}

.item.active {
  background: goldenrod;
  color: whitesmoke;
}

.app {
  display: flex;
}
