body {
  font-size: 24px;
  background-color: lightseagreen;
  user-select: none;
}

.collectible-list,
.zone-picker {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

.item {
  cursor: pointer;
}

.item.active {
  background: goldenrod;
  color: whitesmoke;
}

.item.inactive {
  opacity: 0.3;
}

.app {
  display: flex;
}

.collectibles h4 {
  margin: 0.5rem 0.25rem 0;
  padding: 0.1rem;
  background: darkmagenta;
  color: azure;
}
